extends ../layouts/base.pug

block styles
    <link rel="stylesheet" href="/static/styles/404#{minPrefix}.css?v=#{version}">

block scripts
    <script src="/static/scripts/404#{minPrefix}.js?v=#{version}"></script>

block content
    <div class="page-404">
        <img class="page-404__logo" src="#{imagesPath}/404-logo.svg">
        <h2 class="page-404__headding">Page not found</h2>
        <p class="page-404__message">You'll be redirected automatically to home page.</p>
    <div>