extends ../layouts/base.pug

block title
    <title>#{siteName} - Installation guide</title>

block styles
    <link rel="stylesheet" href="/static/styles/components.css?v=#{version}">

block scripts
    <script src="/static/scripts/components#{minPrefix}.js?v=#{version}"></script>

block content
    - var installCMD = "npm install @puzzlejs/react --save"

    <div class="page-components">
        <h2 class="page-components__headding">Installation</h2>

        <div class="page-components__description">Puzzle.js is available as an <a target="_blank" href="https://www.npmjs.com/package/@puzzlejs/react">npm package</a>.</div>
        <div class="common-blockquote">
            <span>$ #{installCMD}</span>
            <button class="page-components__copy" id="copy-install-cmd" value="#{installCMD}">copy</button>
        </div>

        <h2 class="page-components__headding">Available components</h2>

        <div class="page-components__list">
            <a class="common-button" href="/components/draggable">Draggable</a>
        </div>
    </div>