extends ../layouts/base.pug

block styles
    <link rel="stylesheet" href="/static/styles/home#{minPrefix}.css?v=#{version}">

block scripts
    <script src="/static/scripts/home#{minPrefix}.js?v=#{version}"></script>

block content
    <div class="page-home">
        <img class="page-home__logo" src="#{imagesPath}/puzzle-logo.svg">
        <a class="page-home__description" href="#{githubRepo}" target="_blank" title="GitHub repository">#{siteDescription}</a>
    </div>