extends ../layouts/no-header.pug

block styles
    <link rel="stylesheet" href="/static/styles/home#{minPrefix}.css?v=#{version}">

block scripts
    <script src="/static/scripts/home#{minPrefix}.js?v=#{version}"></script>

block content
    <div class="page-home">
        <img class="page-home__logo" src="#{imagesPath}/puzzle-logo.svg">
        <div class="page-home__buttons">
            <a class="common-button" href="/installation">Get started</a>
            <a class="page-home__donate" href="#{donateLink}" target="_blank">Buy me a beer</a>
        </div>
        <a href="#{githubRepo}" class="page-home__github" target="_blank" title="GitHub repository">
            <img src="#{imagesPath}/github-logo.svg">
        </a>
    </div>
