<footer class="common-footer">
    <a class="common-footer__block" href="#{githubRepo}">
        <div class="common-footer__icon">
            <img src="#{imagesPath}/github-logo.svg" alt="GitHub">
        </div>
        <h3 class="common-footer__title">GitHub</h3>
        <p class="common-footer__desc">Source code on GitHub.</p>
    </a>
    <a class="common-footer__block" href="https://www.npmjs.com/package/@puzzlejs/react-ui">
        <div class="common-footer__icon">
            <img src="#{imagesPath}/npm-logo.svg" alt="Npm">
        </div>
        <h3 class="common-footer__title">Npm</h3>
        <p class="common-footer__desc">Can be installed with npm.</p>
    </a>
    <div class="common-footer__block">
        <div class="common-footer__icon">
            <img src="#{imagesPath}/open-source-logo.svg" alt="Open source">
        </div>
        <h3 class="common-footer__title">Open source</h3>
        <p class="common-footer__desc">Contributions welcome!</p>
    </div>
    //- <div class="common-footer__block">
    //-     <div class="common-footer__icon">
    //-         <img src="#{imagesPath}/javascript-logo.svg" alt="Java script">
    //-     </div>
    //-     <h3 class="common-footer__title">JavaScript</h3>
    //-     <p class="common-footer__desc">Is wiritten in JavaScript.</p>
    //- </div>
    //- <div class="common-footer__block">
    //-     <div class="common-footer__icon">
    //-         <img src="#{imagesPath}/sass-logo.svg" alt="Sass">
    //-     </div>
    //-     <h3 class="common-footer__title">Sass</h3>
    //-     <p class="common-footer__desc">Css preprocessor is being used.</p>
    //- </div>
    //- <div class="common-footer__block">
    //-     <div class="common-footer__icon">
    //-         <img src="#{imagesPath}/webpack-logo.svg" alt="Webpack">
    //-     </div>
    //-     <h3 class="common-footer__title">Webpack</h3>
    //-     <p class="common-footer__desc">Is built with Webpack.</p>
    //- </div>
</footer>