<meta property="og:image:height" content="1200">
<meta property="og:image:width" content="630">
<meta property="og:description" content="#{siteDescription}">
<meta property="og:title" content="#{siteName}">
<meta property="og:url" content="#{siteUrl}">
<meta property="og:image" content="#{siteUrl}${require('../../assets/images/og-image.jpg')}?v=#{version}">